"*":
  "atom-beautify":
    _analyticsUserId: "ff2f3bf1-72d3-48d0-aea4-1bcdc620432f"
    beautifyEntireFileOnSave: false
  "atom-fuzzy-grep": {}
  "atom-pair":
    pusher_app_key: "dd477c218a6d9c56b107"
    pusher_app_secret: "83ca3dddc6e5821fb360"
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-plus":
    confirmCompletion: "enter"
  "color-picker": {}
  core:
    disabledPackages: [
      "travis-ci-status"
      "language-java"
      "feedback"
      "welcome"
      "background-tips"
      "atom-erb"
      "autocomplete-snippets"
      "autocomplete"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".bundle"
      "log"
      "tmp"
      ".repl_history"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/goddamnhippie/Code"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Menlo"
    fontSize: 13
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    useShadowDOM: true
  "exception-reporting":
    userId: "0414353d-9b58-5649-d050-8e64db395f53"
  "file-icons":
    coloured: false
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
    ]
    preserveLastSearch: true
    useAlternateScoring: true
  "git-projects":
    rootPath: "/Users/goddamnhippie/Code"
    sortBy: "Latest modification date"
  linter:
    errorPanelHeight: 148
    lintOnEditorFocus: true
    lintOnFly: false
    showErrorTabFile: false
    showErrorTabProject: false
    showHighlighting: true
    statusIconPosition: "Right"
    statusIconScope: "File"
  "linter-erb":
    erbExecutablePath: "/usr/local/var/rbenv/shims/erb"
  "linter-rubocop":
    command: "heroku local:run rubocop"
  "linter-ruby":
    rubyExecutablePath: "/Users/goddamnhippie/.rubies/ruby-2.3.0/bin/ruby"
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  metrics:
    userId: "f59cf66844f3900a7090147c78d587321b9ae40d"
  minimap:
    adjustMinimapWidthToSoftWrap: false
    autoToggle: false
    displayMinimapOnLeft: true
  "one-dark-ui":
    layoutMode: "Compact"
  "one-light-ui": {}
  pigments:
    extendAutocompleteToVariables: true
    markerType: "dot"
  "ruby-test":
    testFramework: "minitest"
  "theme-toggler":
    darkSyntaxTheme: "one-dark-syntax"
    darkUiTheme: "one-dark-ui"
    lightSyntaxTheme: "one-light-syntax"
    lightUiTheme: "one-light-ui"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    showOnRightSide: true
  "view-tail-large-files":
    fontFamily: "Menlo"
    fontSize: 13
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".nginx.source":
  editor:
    preferredLineLength: 120
