@darkest-color: #222222;
@highlight-color: #000000;

.item-views {
  border-top: 8px solid @darkest-color;
}

.tree-view {
  border-left: 8px solid @darkest-color;
  background-color: @darkest-color;
}

.list-tree .selected:before {
  background-color: @darkest-color;
}

.workspace, .tool-panel {
  background-color: @darkest-color;
}

.tab-bar .tab.active {
  background-color: @darkest-color;

  &:before {
    background-color: @darkest-color;
  }
}

.editor {
  background-color: @darkest-color;

  &.is-focused .selection .region {
    background-color: @highlight-color;
  }

  .gutter {
    background-color: @darkest-color;
  }

  .punctuation.separator.other {
    color: #7587A6;
  }
}
